<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="backendFile">


    <insert id="filesUpload">
        insert into backend_board_file
            (file_name, target_content_num)
            values (#{fileName}, #{targetContentNum})
    </insert>

    <delete id="clearFiles">
        delete
            from backend_board_file
        where target_content_num = #{contentNum}
    </delete>

    <select id="getTargetFileNames" resultType="String">
        select file_name
        from backend_board_file
        where target_content_num = #{contentNum}
    </select>
</mapper>
