<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="backendBoard">

    <select id="getJavaTotal" resultType="Integer">
        select count(*)
        from backend_board
        where content_lang_name = 'Java'
    </select>

    <select id="getJavaBoard" resultType="BackendBoard">
        select *
        from backend_board
        where content_lang_name = 'Java'
        order by content_num desc
        limit ${offset}, ${perPage}
    </select>

    <insert id="contentUpload">
        insert into backend_board
            (content_title, content_detail, content_uploader, content_reg_date, content_lang_name, content_hit, content_comment_hit)
            values (#{contentTitle}, #{contentDetail}, #{contentUploader}, NOW(), #{contentLangName}, #{contentHit}, #{contentCommentHit} )

        <selectKey keyProperty="contentNum" resultType="Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="contentDelete">
        delete
            from backend_board
            where content_num = #{contentNum}
    </delete>

    <select id="contentEditor" resultType="BackendBoard">
        select content_num ,content_title, content_detail
        from backend_board
        where content_num = #{targetId}
    </select>

    <update id="contentUpdate" parameterType="BackendBoard">
        update backend_board
            set content_title = #{contentTitle}, content_detail = #{contentDetail}
        where content_num = #{contentNum}
    </update>

    <select id="detailView" resultType="BackendBoard">
        select *
        from backend_board
        where content_num = #{contentNum}
    </select>

    <update id="contentHitter">
        update backend_board
            set content_hit = content_hit+1
        where content_num = #{contentNum}
    </update>
</mapper>
