<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="token">


    <insert id="addToken">
        insert into tokens
        values (null, #{targetId}, #{publicToken})
    </insert>

    <select id="checkToken" resultType="Integer">
        select count(*)
        from tokens
        where target_id = #{targetId} and public_token = #{publicToken}
    </select>

    <delete id="removeToken">
        delete
            from tokens
        where target_id = #{targetId} and public_token = #{publicToken}
    </delete>
</mapper>
